---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Guide from '~/components/widgets/Guide.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import { featuresContent, featuresImage } from '~/content/features';
import { faqContent } from '~/content/faq';
import { guideContent } from '~/content/guide';
import { testimonialContent } from '~/content/testimonial';
import { appStoreImg, appStoreDownloadLink, googlePlayImg, googlePlayDownloadLink } from '~/content/links';
import { statsContent } from '~/content/stats';

const metadata = {
  title: 'Tutor Aid',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="TAGLINE"
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Tutor Aid Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Tutor Aid</span>
      <br /> tuition management <span class="hidden xl:inline">made easy</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Streamline your tuition management and payment process with our cutting-edge SaaS tool.
      </span>
      Easily track payments, send notifications, generate reports, and stay on top of your batches' current status.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" target="_blank" rel="noopener noreferrer" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" target="_blank" rel="noopener noreferrer" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero>

  <!-- Features Left Widget **************** -->

  <Features
  title="Features"
    items={featuresContent.left}
    image={featuresImage.left}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- Features Right Widget **************** -->

  <Features
    isReversed
    isAfterContent
    items={featuresContent.right}
    image={featuresImage.right}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- Guide Widget *************** -->

  <Guide
    title="Using Tutor Aid"
    subtitle="Tired of spending hours tracking your batches and asking for due payments? Our app offers an easy solution to this problem."
    tagline="Step-by-step guide"
    columns={2}
    items={guideContent}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics"
    stats={statsContent}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="User Reviews"
    tagline="Testimonial"
    testimonials={testimonialContent}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the great features that Tutor Aid offers and how it can elevate your tutoring journey."
    tagline="FAQ"
    classes={{ container: 'max-w-6xl' }}
    items={faqContent}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Download our app now!"
    subtitle="Sign up in a flash and get ready to go! 🚀"
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" target="_blank" rel="noopener noreferrer" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" target="_blank" rel="noopener noreferrer" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
